body {
    font-family: Times New Roman;
    margin-top: 75px;
}
h1{
background-color:cadetblue;
font-weight:bold;
position:absolute;
top:1px;
}
.center {
    text-align:right;
}

.text-big {
    font-size: 200%;
}
.top{
background-color:lightblue;
font-weight:lighter;
}
.a1{
    text-decoration:coral;
}
.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}

