body {
    font-family: Times New Roman;
    background-color: khaki;
    margin-top: 75px;
}
h1{
background-color:blue;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
    
}

